.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /* Space below the header */
}

.main__name {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  margin: 0;
}

.finalPageLink {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  transition: color 0.3s;

  &:hover {
    color: #0056b3;
    /* Darker color on hover */
  }
}

.leftSection {
  width: 100%;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    flex: 1;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.rightSection {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    width: 400px;
    padding: 30px;
  }
}

.main__add__product {
  width: 100%;
  border-radius: 10px;
  height: 44px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition:
    background-color 0.3s,
    transform 0.2s;
  margin-top: 20px;

  &:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  @media (min-width: 768px) {
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
  }
}
